---
# - name : install sys config
#   hosts: all
#   become: yes
#   vars_files:
#    - /home/kas/Рабочий стол/Crieket_lesson/Project/all.yml 
#   ignore_errors: yes 
  # tasks:
    - name: TTL 
      shell: sysctl -w net.ipv4.ip_default_ttl 65 | cat /proc/sys/net/ipv4/ip_default_ttl
      register: ttl_default

    - name: ttl output
      debug:
        var: ttl_default.stdout_lines
         
    - name: Set timezone
      timezone:
        name: "{{ timezone }}"

    - name: Update apt 
      apt:
        update_cache: yes

    - name: Install common-sys
      apt:
        name: "{{ system_packages }}"
        state: present

    # - name: stop upgrade for install ansible  
    #   shell: |
    #     systemctl disable unattended-upgrades | systemctl stop unattended-upgrades
    # - name:
    #   apt:
    #     name: ansible-core
    #     state: present
    #   when: inventory_hostname == "fs"
    #   become: yes

    - name: добавляем порты в firewall
      ufw:
        rule: allow
        port: "{{ item }}"
        proto: tcp
      loop:
        - 22
        - 80
        - 443
        - 8443
        - 8081
        - 8080
        - 9000
        - 9001
        - 9093 # alertmanager port
        - 9094
        - 9095
        - 9200 # Elasticsearch port
        - 9100 # node_exporter
        - "{{ prometheus_port }}"
        - "{{ grafana_port }}"
        - 2049   # NFS
        - 111    # rpcbind
        - 20048  # mountd

    