http {
  upstream web {
    server 192.168.1.31:{{ nginx_port }}
    server 192.168.1.32:{{ nginx_port }}
    server kas.local.ru:{{ nginx_port }}
  }
} 

server {
    listen 80;
    server_name kas.local.ru;
    root {{ wp_dir }};
    index index.php index.html index.htm;
    location / {
        return 301 http://$host$request_uri;
    }
}


server {
    listen 443 ssl;
    server_name kas.local.ru;

    ssl_certificate /etc/nginx/ssl/kas.local.crt; 
    ssl_certificate_key /etc/ssl/nginx/kas.local.key;


    location / {
        try_files $uri $uri/ /index.php?$args;
}

    location ~ \.php$ {
            include snippets/fastcgi-php.conf;
            fastcgi_pass unix:/run/php/php{{php_version}}-fpm.sock; 
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include fastcgi_params;
}

    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        expires max;
        log_not_found off;
    }
}