[defaults]
roles_path = /home/kas/Рабочий стол/Crieket_lesson/Project/roles
inventory = /home/kas/Рабочий стол/Crieket_lesson/Project/hosts.ini
host_key_checking = false
interpreter_python = /usr/bin/python3.10

