---
# - name: Install WP
#   hosts: wp
#   become: true
#   vars_files: 
#   - /home/kas/Рабочий стол/Crieket_lesson/Project/all.yml
#   tasks:


  # - name: Create WordPress directory
  #   file:
  #     path: "{{ wp_dir }}"
  #     state: directory
  #     owner: "{{ wordpress_owner }}"
  #     group: "{{ wordpress_owner }}"
  #     mode: '0777'

  - name: Add group "wwww-data"
    group:
      name: "{{ wordpress_group }}"

  - name: Create a new user www-data
    user:
      name: "{{ wordpress_owner }}"
      state: present
      create_home: yes
      shell: /bin/bash
      group: "{{ wordpress_group }}"

  - name: Download WordPress
    get_url:
      url: "{{ wp_url }}"
      dest: /tmp/wordpress.tar.gz


  - name: Extract WordPress
    unarchive:
      src: /tmp/wordpress.tar.gz
      dest: /tmp
      owner: "{{ wordpress_owner }}"
      group: "{{ wordpress_owner }}"
      remote_src: yes
    become: yes
  # - name:
  #   command: "chown -R www-data:www-data /tmp/wordpress"

  - name: Create wp-config.php
    template:
      src: /home/kas/Рабочий стол/Crieket_lesson/Project/roles/wordpress/templates/wp-config.php.j2
      dest: "/tmp/wordpress/wp-config.php"
      owner: "{{ wordpress_owner }}"
      group: "{{ wordpress_owner }}"

  - name: Copy WordPress files
    copy:
      src: /tmp/wordpress/
      dest: /opt/www/wordpress/
      remote_src: yes
      owner: www-data
      group: www-data
      mode: '0777'
    become: true
    when: inventory_hostname == "web1"

 

