[defaults]
roles_path = roles
inventory = inventory.yml
host_key_checking = False
interpreter_python = /usr/bin/python3.10
deprecation_warnings = False
allow_world_readable_tmpfiles = True 

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes
ansible_ssh_common_args = -o StrictHostKeyChecking=no
ansible_ssh_extra_args = -o ServerAliveInterval=60 -o ServerAliveCountMax=3